@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
html * {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(30, 80, 173);
}

.spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

a {
  text-decoration: none;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: -1.2rem;
}

.card-item {
  flex: 100%;
  text-align: center;
}

.card-container > .card-item {
  flex: 50%;
}

.card-item:nth-child(4n),
.card-item:nth-of-type(4n+1) {
  background-color: #0071bd;
  color: white;
}

.card-item:nth-child(4n+3),
.card-item:nth-child(4n+2) {
  background-color: #4c8cb7;
  color: white;
}

.continent-card {
  height: 8rem;
  color: white;
  background-color: #4c8cb7;
  text-align: center;
}

.case {
  color: rgb(255, 255, 255);
  background-color: rgb(30, 80, 173);
  text-align: center;
}

.continent-select {
  width: 30%;
}

option {
  font-size: 18px;
  background-color: rgb(255, 255, 255);
}

option::before {
  content: ">";
  font-size: 20px;
  display: none;
  padding-right: 10px;
  padding-left: 5px;
  color: #fff;
}

option:hover::before {
  display: inline;
}

.card-details {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 8rem;
  color: white;
  font-size: 20px;
  background-color: #4c8cb7;
}

.card-details:nth-child(even) {
  background-color: #0071bd;
}

.card-details p {
  width: 6.688rem;
  height: 1.188rem;
  margin: 0.25rem 0 0;
  font-size: 0.875rem;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: white;
}

.card-details-container {
  display: flex;
  flex-direction: column;
  position: relative;
}

.country {
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
}

.back-btn {
  position: absolute;
  top: 58px;
  left: 6px;
  color: white;
  cursor: pointer;
  border-radius: 45px;
  width: 3rem;
}

.back-btn:hover {
  background-color: #4c8cb7;
}

@media screen and (max-width: 768px) {
  .card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .card-container > div {
    flex: 50%;
  }
}
